//  左侧菜单
$silderBackgroundColor:#001529; //  菜单背景色
$silderLogoBackgroundColor:#002140; //  菜单LOGO区域背景色
$silderSubItemBackgroundColor:#000c17;  //  子菜单背景色
$silderSubItemBackgroundHoverColor:#1790ff; //  子菜单鼠标提示背景色
